<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.system.dal.mysql.parkingpayunion.ParkingPayUnionMapper">
    <sql id="getProfitSharingInfoSumCondition">
        <if test="sourceId != null">
            , dataSources.name as sourceName
        </if>
        <if test="channelId != null">
            , channel.channel_name as channelName
        </if>
        from t_profit_sharing_sum as psum
        <if test="sourceId != null">
            left join t_data_sources as dataSources on psum.source_id = dataSources.id
        </if>
        <if test="channelId != null">
            left join t_channel as channel on psum.channel_id = channel.id
        </if>
        <where>
            <if test="sourceId != null">
                and source_id = #{sourceId}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
        </where>
    </sql>


    <select id="getDataSourceByAppid" parameterType="java.lang.String"
            resultType="cn.iocoder.yudao.module.system.dal.dataobject.parkingpayunion.DataSources">
        select *
        from t_data_sources
        where appid = #{appid}
    </select>

    <!--    <select id="getProfitSharingInfo" parameterType="java.util.Map"-->
    <!--            resultType="">-->
    <!--        select *-->
    <!--        from t_profit_sharing_info-->
    <!--        where appid = #{appid}-->
    <!--    </select>-->

    <select id="getProfitSharingInfoSum" parameterType="java.util.Map"
            resultType="cn.iocoder.yudao.module.system.controller.admin.parkingpayunion.vo.GetProfitSharingInfoSumRespVO">
        select psum.*
        <include refid="getProfitSharingInfoSumCondition"></include>
        order by date_range desc
        limit #{pageStart}, #{pageSize}
    </select>

    <select id="getProfitSharingInfoSumTotalCounts" parameterType="java.util.Map"
            resultType="java.lang.Long">
        select count(*)
        <include refid="getProfitSharingInfoSumCondition"></include>
    </select>

    <select id="getPhotoListByOwerecId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select location
        from t_parking_photo
        where owerec_id = #{owerecId}
    </select>

    <select id="getDataSourceNameById" parameterType="java.lang.Integer" resultType="java.lang.String">
        select name
        from t_data_sources
        where id = #{dataSourceId}
    </select>


    <select id="getEviIdListByThirdpartyOrderId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id
        from t_evidence_barn
        where thirdparty_order_id = #{thirdpartyOrderId}
    </select>


    <select id="selectEvidenceBarnByIds" parameterType="java.util.List"
            resultType="cn.iocoder.yudao.module.system.dal.dataobject.parkingpayunion.EvidenceBarn">
        SELECT * FROM t_evidence_barn
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            ${id}
        </foreach>
    </select>

    <update id="updateVerifiedStatus" parameterType="java.util.Map">
        update t_cuser_plate
        set verified_status = #{verifiedStatus}, verify_msg = #{verifyMsg}
        where id = #{id}
    </update>

    <!--  重新上传后一律置为待认证：0  -->
    <update id="updateCUserPlateByUserId" parameterType="java.util.Map">
        update t_cuser_plate
        set car_license_image_url = #{imgUrl}, verified_status = 0, verify_msg = ''
        where user_id = #{userId} and plate_num = #{plateNum} and plate_color = #{plateColor}
    </update>

    <select id="getCUserPlateByCondition" parameterType="java.util.Map"
            resultType="cn.iocoder.yudao.module.system.controller.admin.user.vo.profile.CuserPlateVO">
        select * from t_cuser_plate
        where user_id = #{userId} and plate_num = #{plateNum} and plate_color = #{plateColor}
    </select>

</mapper>